<div class="block max-w-sm p-6 border border-gray-200 rounded-lg" >
  <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
    <%= @event.location %>
  </h2>

  <div>
    <%= @event.date %>
  </div>

  <div> Creator: 
    <%= link_to @creator.email, user_path(@creator) %>
  </div>
</div>
<div>
<%= button_to 'Sign up to attend', event_path, method: 'patch', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>
</div>
<%= button_to 'Back to events', root_path, :method => 'get', class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>

<div class="block max-w-sm p-6 border border-gray-200 rounded-lg" >
  <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Attendees</h2>
  <ul>
    <% @attendees.each do |att| %>
      <li class="font-normal text-gray-700" >
       <%= att.email %>
      </li>
    <% end %>
  </ul> 
</div>